# Project
*.test
*.json
*.dat
*.xlsx
venv/*
.venv/*
!.gitkeep
!.nojekyll

# Python
.cache
.coverage
.coverage.*
.env
.mypy_cache/
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.egg-info
*.egg
target/
build/
dist/
out/

# macOS
*.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~

# Windows
Desktop.ini
Thumbs.db
